version: "3.8"

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql-server
    restart: unless-stopped

    environment:
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Developer"
      MSSQL_SA_PASSWORD: "YourStrong!Passw0rd"

    ports:
      - "1433:1433"

    volumes:
      - mssql_data:/var/opt/mssql
      - ./backup:/backups:ro
      - ./scripts:/scripts:ro

    entrypoint: ["/scripts/entrypoint.sh"]

    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -U sa -P 'YourStrong!Passw0rd' -C -Q 'SELECT 1'" ]
      interval: 30s
      timeout: 10s
      retries: 5



volumes:
  mssql_data: